<div class="col-6">
  <h1 class="mb-3"><%= link_to 'Home', root_path, class: 'fs-4 text-decoration-none text-black fw-semibold' %></h1>
  <div class="mb-4">
    <%= render 'shared/post_form' %>
  </div>
  <div id="posts">
    <%= render @posts %>
  </div>
</div>

<div class="col-3">
</div>
